# Configuration de l'application
SECRET_KEY=your-secret-key-here

# Base de données SQLite (fichier local)
# Si vous souhaitez changer le nom du fichier : DATABASE_URL=sqlite:///chemin/vers/thermo_app.db
DATABASE_URL=sqlite:///thermo_app.db

# Email pour réinitialisation MDP
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password